<h1>Locate Pet Faces - TensorFlow.js</h1>
<div style="position: relative;">
    <!-- NOTE: styles were modified post-print to fix issues with rendering at small viewports widths -->
    <img id="pet"
        src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*"
        width="100%" crossorigin="anonymous" width="50%" height="50%" />
    <canvas id="detection" style="position: absolute; left: 0; "></canvas>
</div>